<template name="step0">
    <div class="container">
        <button id="add" class="waves-effect waves-light btn red darken-2">
            <i class="material-icons left">business</i>
            Ajouter un bien
        </button>
    </div>
</template>