<template name="step1">
    <div class="row container">
        <div class="col s6 subcontainer">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Informations à propos du bien</span>
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="type">
                                <optgroup label="Logements collectifs">
                                    <option value="1">Studio</option>
                                    <option value="2">Appartement</option>
                                    <option value="3">Maison collective</option>
                                </optgroup>
                                <optgroup label="Logement individuel">
                                    <option value="4">Maison individuelle</option>
                                    <option value="5">Chateau</option>
                                </optgroup>
                            </select>
                            <label>Type de logement</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10">
                            <input id="title" type="text">
                            <label for="title">Intitulé</label>
                        </div>
                        <div class="input-field col s2">
                            <input placeholder="m²" id="surface" type="number">
                            <label for="surface">Surface</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="city" type="text">
                            <label for="city">Ville</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="address" type="text">
                            <label for="address">Adresse</label>
                        </div>
                    </div>
                </div>
                {{> stepsControls step="step1"}}
            </div>
        </div>
    </div>
</template>