<template name="step2">
    <div class="row container">
        <div class="col s4 subcontainer">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Plans du biens</span>
                    {{> plansupload dataEntries=dataEntries}}
                </div>
                {{> stepsControls step="step2"}}
            </div>
        </div>
    </div>
</template>

<template name="plansupload">
    <div class="fileDrop dropzone" id="plansdrop">
        {{#each dataEntries }}
            <div class="dropzone__image">
                 <div class="dropzone__image__img" style="background: url('{{link}}')">
                            <button type="button" aria-hidden="true"
                                    class="btn-floating  waves-effect waves-light red del-file">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
            </div>
        {{else}}
            <span class="dropzone__infos">Déposez ici la/les vues en coupes du bien</span>
        {{/each}}
    </div>
</template>