<template name="steps">
    <div class="steps">
        <div id="carousel">
            {{> step0}}
            {{> step1}}
            {{> step2}}
        </div>
    </div>
</template>

<template name="stepsControls">
    <div class="card-action">
        <a class="black-text backButton" href="#">Annuler</a>
        <a class="teal-text nextButton" id="{{step}}" href="#">Suivant</a>
    </div>
</template>