@import '{}/imports/ui/styles/colors.scss';
@import '{}/imports/ui/styles/views/_Views.scss';
@import '{}/imports/ui/styles/components/_Components.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.center-in-container {
  display: block;
  margin: auto;
}

.take-full-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.padded-container {
  padding: 2rem;
}

.hoverable {
  &.focused {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
