.dropzone {
  border: 1px solid #e0e0e0;
  background: rgba(#e0e0e0, .2);
  width: 100%;
  height: 12rem;
  position: relative;
  transition: .3s;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  z-index: 0;

  &:before {
    background: url('drop.svg');
    background-size: cover;
    content: '';
    position: absolute;
    top: -20%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    pointer-events: none;
    opacity: 1;
    transition: .3s;
    z-index: -1;
  }

  &--selected {
    background: rgba(#e0e0e0, .4);

    &:before {
      opacity: 0;
    }

    .dropzone__infos {
      display: none;
      opacity: 0;
    }
  }

  &__infos {
    opacity: 1;
    transition: .3s;
    margin-top: 4rem;
    display: block;
    text-align: center;
    color: #999999;
    font-weight: 300;
  }

  &__image {
    &__img {
      background-size: cover !important;
      background-position: center !important;
      border-radius: .5rem;
      width: 8rem;
      height: 8rem;
      position: relative;
      margin-top: 1rem;
      margin-bottom: .5rem;

      .del-file {
        position: absolute;
        top: -1rem;
        right: -1rem;
      }
    }
  }
}