.steps {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('background.jpg');
  background-size: cover;
  background-position: center;

  &:before {
    content: ' ';
    background: black;
    opacity: .1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #add {
    width: 16rem;
    margin: auto;
  }

  .slick-list, .slick-track {
    height: 100%;
  }

  #carousel {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #carousel {
    .container {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }

    div {
      .subcontainer {
        margin: auto;
        float: none;
      }
    }
  }
}